.top-bar {
  $dark-purple: $darkest-purple !default;
  $light-purple: $light-purple !default;
  $top-bar-height: 40px;
  $base-spacing: 1.5em !default;

  background-color: $dark-purple;
  max-height: $top-bar-height;
  width: 100%;

  p {
    color: $light-purple;
    line-height: 2;
    margin: 0 auto;
    text-align: center;
  }
}
