#top-bar {
  $darkest-purple: $darkest-purple !default;
  $light-purple: $light-purple !default;
  $top-bar-height: 40px;
  $base-spacing: 1.5em !default;

  width: 100%;
  background-color: $darkest-purple;
  max-height: $top-bar-height;

  p {
    color: $light-purple;
    text-align: center;
    margin: 5px auto;
  }  
}
