<!-- /// INTRO SECTION /// -->

<section class="intro" id="section-intro">
  <div class="image-bg" data-stellar-background-ratio="0.2"></div>
  <%= content_tag :div, nil, class:'color-overlay' %>

  <div class="container">
    <div class="logo">
      <h1><%= image_tag 'logo-white.png', alt:'logo' %></h1>
    </div>

    <h3>
      The APF is dedicated to improving the health and well-being of individuals and families affected by Porphyria.
    </h3>
  </div>

  <!-- the 'jump' button to scroll to the next section -->

  <%= link_to icon('chevron-down'), '#section-features', class:'jump-down' %>
</section>


