<div id="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>American Porphyria Foundation</h1>
      <p>
        The APF is dedicated to improving the health and well-being of
        individuals and families affected by Porphyria.
      </p>
    </div>
  </div>
</div>