<div class="error-pages">
  <div class="container">
    <div class="title">
      <h2>Server Error</h2>

      <p>We're sorry, there was a problem with our servers.</p>

      <%= render 'redirect_to_back' %>
    </div>
  </div>
</div>
