<div class="error-pages">
  <div class="container">
    <div class="title">
      <h2>Unprocessable Request</h2>

      <p>We're sorry, but your last request cannot be processed.</p>

      <%= render 'redirect_to_back' %>
    </div>
  </div>
</div>