footer.footer {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $highlight: #3498db !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-paragraph-color: darken(white, 25%);
  $footer-link-color: darken(white, 20%);
  
  padding-top: 10em;

  .container {
    border-top: dashed 2px darken(white, 5%);
  }

  p.copyright {
    padding: $base-spacing 0;
    text-align: center;
    color: darken(white, 25%);
    margin-bottom: 0;

    @include media($large-screen) {
      float: left;
      text-align: left;
      padding-left: $base-spacing;
    }
  }

  ul.social {
    margin: 0 auto;
    text-align: center;

    @include media($large-screen) {
      float: right;
      padding: $base-spacing;
    }

    li {
      display: inline-block;
      text-align: center;
      list-style: none;
      color: darken(white, 20%);
      transition: all 0.2s;

      a {
        font-size: 1.3em;
        padding: 0 0 0 1.2em;
        color: darken(white, 20%);

        &:hover {
          color: $highlight;
        }
      }
    }
  }
}
