// TYPOGRPAHY //

body {
  font-family: 'Montserrat', sans-serif;
  color: lighten(black, 40%);
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}


p.lead {
  font-size: 1.25em;
  opacity: .5;
  padding: .8em 0 0 0;
}

blockquote {
  font-style: italic;
  color: lighten($base-font-color, 10%);
  font-size: 1.1em;
  border-left: solid 3px $base-border-color;
}

a {
  color: $highlight;

  &:hover {
    color: darken($highlight, 5%);
  }
}

input,
textarea,
button {
  font-family: 'Montserrat', sans-serif !important;
}

input[type="text"],
input[type="email"],
textarea {
  color: darken(white, 40%);
  border: solid 2px darken(white, 8%) !important;
  box-shadow: none !important;

  @include placeholder {
    color: darken(white, 25%);
  }

  &:focus {
    border: solid 2px darken(white, 20%) !important;
  }
}

// LAYOUT //

.container {
  @include outer-container;
  padding: 0 .5em;
}

html, body, section.intro, .split, .split-text {
  height: 100%;
}

section {
  padding: 6em 0 3em;
  position: relative;
}

// PARLLALAX BACKGROUNDS //

.image-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  z-index: -200;
}

.color-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $highlight;
  opacity: 0.7;
  z-index: -100;
}

// SECTION TITLES //

.title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3em;

  h2 {
    font-size: 2em;
  }

  hr {
    border: solid 2px rgba(0,0,0,0.1);
    margin: 1em auto 1.5em;

    &.small {
      width: 50px;
    }
  }

   p {
     opacity: 0.5;
     font-size: 1.25em;
   }
 }
