// TYPOGRPAHY //

body {
  color: lighten(black, 40%);
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

p.lead {
  font-size: 1.25em;
  opacity: .5;
  padding: .8em 0 0 0;
}

blockquote {
  border-left: solid 3px $base-border-color;
  color: lighten($base-font-color, 10%);
  font-size: 1.1em;
  font-style: italic;
}

a {
  color: $highlight;

  &:hover {
    color: darken($highlight, 5%);
  }
}

input,
textarea,
button {
  font-family: 'Montserrat', sans-serif !important;
}

input[type="text"],
input[type="email"],
textarea {
  border: solid 2px darken(white, 8%) !important;
  box-shadow: none !important;
  color: darken(white, 40%);

  @include placeholder {
    color: darken(white, 25%);
  }

  &:focus {
    border: solid 2px darken(white, 20%) !important;
  }
}

// LAYOUT //

.container {
  @include outer-container;
  padding: 0 .5em;
}

html, body, section.intro, .split, .split-text {
  height: 100%;
}

section {
  padding: 6em 0 3em;
  position: relative;
}

// PARLLALAX BACKGROUNDS //

.image-bg {
  height: 100%;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -200;
}

.color-overlay {
  background-color: $highlight;position: absolute;
  height: 100%;
  left: 0;
  opacity: 0.7;
  top: 0;
  width: 100%;
  z-index: -100;
}

// SECTION TITLES //

.title {
  margin-bottom: 3em;
  text-align: center;
  text-transform: uppercase;

  h2 {
    font-size: 2em;
  }

  hr {
    border: solid 2px rgba(0,0,0,0.1);
    margin: 1em auto 1.5em;

    &.small {
      width: 50px;
    }
  }

   p {
     font-size: 1.25em;
     opacity: 0.5;
   }
 }

 // BUTTONS //

 a.button.alt,
 a.button.large.alt {
   background: $highlight-2;
   color: white;

   &:hover {
     background: lighten($highlight-2, 8%);
   }
 }

 a.button.large {
   background: $highlight;
   color: white;
   margin-top: 5em;
   padding: 1em 2em;
   text-transform: uppercase;

   &:hover {
     background: lighten($highlight, 8%);
   }
 }

// OWL CAROUSEL STYLES //

.owl-theme .owl-dots .owl-dot span {
	height: 14px;
	width: 14px;
}

.owl-theme .owl-nav [class*='owl-'] {
	padding: .5em 1em;
}

.owl-carousel {
	cursor: move;
}

/* flexslider */
.flexslider {
	margin: 0;
}

.flex-control-nav {
	bottom: 0;
	z-index: 100;

	li a {
		background: white;
		opacity: 0.5;
		height: 14px;
		width: 14px;
		box-shadow: none;

		&:hover {
			opacity: 0.7;
		}

		&.flex-active {
			background: white;
			opacity: 1;
		}
	}
}

.flex-direction-nav a {
	height: 52px;
	width: 52px;
	top: 45%;
	font-weight: bold;
	box-shadow: none;
	text-shadow: none;
	color: white;

	&:before {
		font-family: 'Fontawesome';
		font-size: 3em;
		display: inline-block;
		content: '\f104';
	}

	&.flex-next:before {
		content: '\f105';
	}
}
