<div class="blog-archive">
  <div class="container">

    <div class="title">
      <h2>Purple Light Blog</h2>
      <%= tag :hr, class:'small' %>
    </div>

    <!-- main column -->
    <div class="main-column">
      <!-- call blog items partial -->
      <%= render @posts %>

      <!-- call pagination renderer -->
      <%= paginate @posts %>
    </div>

    <!-- sidebar column -->
    <aside class="sidebar">
      <!-- call submenu partial -->
      <%= render 'sidebar' %>
    </aside>

  </div>
</div>