/* error handling pages */

.error-pages {
  padding: 9em 0 3em 0;

  p {
    margin-bottom: 2em;

    a.button.large {
      background: darkgray;
      color: whitesmoke;

      &:hover {
        background: darken(darkgray, 40%);
      }
    }
  }
}