// INTRO SECTION //

section.intro {
  $parallax-intro-url: url('http://placehold.it/1200x700&text=american+porphyria+foundation') 0 0 no-repeat;

  color: white;
  padding: 0;
  text-transform: uppercase;

  .image-bg {
    background: $parallax-intro-url;
    background-size: cover;
  }

  .container {
    @include media($small-screen-up) {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    @include media($small-screen-down) {
      padding-top: 8em;
    }
  }

  h1 {
    color: white;
    padding-bottom: .5em;
    text-align: center;

    img {
      max-width: 50%;
    }
  }

  h3 {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.25em;
    padding: 0 20%;
    text-align: center;
  }

  a.jump-down {
    bottom: 4em;
    display: block;
    left: 20%;
    margin: 2em auto 0;
    position: absolute;
    right: 20%;
    text-align: center;
    width: 4em;

    i {
      color: white;
      font-size: 3.5em;
      opacity: 0.5;
      text-align: center;
      transition: opacity 0.2s;
    
      &:hover {
        opacity: 1;
      }
    }
  }
}

// FEATURES SECTION //

section.features {
  .feature-item {
    @include media($large-screen-up) {
      @include span-columns(4);
      @include omega(3n);
    }

    @include media($large-screen-down) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media($small-screen-down) {
      @include span-columns(12);
      @include omega(1n);
    }

    padding: 3em 0 2em;
    text-align: center;

    h4 {
      font-size: 1.3em;
      padding-bottom: .5em;
      text-transform: uppercase;
    }

    p {
      color: darken(white, 50%);
    }

    i {
      color: darken(white, 20%);
      font-size: 4em;
      margin-bottom: .3em;
      transition: color .2s;

      &:hover {
        color: $highlight;
      }
    }
  }
}

// NEWSlETTER FORM SECTION //

section.newsletter {
  $parallax-newsletter-url:
  url('http://placehold.it/1200x700&text=american+porphyria+foundation') 0 0 no-repeat;

  color: white;
  padding: 5em 0;

  image-bg {
    background: $parallax-newsletter-url;
    background-size: cover;
  }

  .nl-text,
  .nl-form {
    @include span-columns(6);

    @include media($large-screen-down) {
      @include span-columns(12);
      @include pad(1em 5%);
    }
  }

  .nl-text {
    p {
      margin-bottom: 0;
    }
  }

  .nl-form {
    input[type="email"] {
      @include media($medium-screen-down) {
        @include span-columns(4);
        border-radius: 3px;
        width: 100%;
      }

      @include span-columns(4 of 6);
      border: none !important;
      border-radius: 3px 0 0 3px;
      box-shadow: none;
      height: 3em;
      margin: 0;
      padding: 0 1em;
    }

    input[type="submit"] {
      @include media($medium-screen-down) {
        @include span-columns(4);
        border-radius: 3px;
        margin-top: 1em;
        width: 100;
      }

      @include span-columns(2 of 6);
      @include omega;
      background: darken($highlight, 10%);
      border-radius: 0 3px 3px 0;
      height: 3em;
      margin: 0;
      text-transform: uppercase;

      &:hover {
        background: darken($highlight, 5%);
      }
    }
  }
}

// SHOWCASE SECTION //

#section-showcase {
  padding: 6em 0 5em;
}

section.showcase {
  padding: 1em 0 5em;

  .split {
    @include clearfix;
    margin: 5em 0 0 0;


    .split-left,
    .split-right {
      @include span-columns(6);

      @include media($large-screen-down) {
        @include span-columns(12);
        @include pad(1em 3em);
        float: none !important;
        text-align: center;
      }

      @include media($small-screen-down) {
        @include pad(10px);
      }
    }

    .split-left.float-right {
      float: right;
       
      &.split-text {
        @include media($large-screen-up) {
          padding-left: 1.5em;
        }
      }
    }

    .split-right.float-left {
      float: left;
    }

    .split-media {
      #showcase-slider .item img {
        cursor: move;
        display: block;
        height: auto;
        width: 100%;
      }
    }

    .img {
      @include span-columns(3);
      @include omega(5n);
      margin-bottom: 1em;
    }
  }
}

.showcase.gray {
  background: darken(white, 5%);
}

section.quote {
  $parallax-quote-url: url('http://placehold.it/1200x700&text=american+porphyria+foundation') 0 0 no-repeat;

  padding: 6em 0;

  .image-bg {
    background: $parallax-quote-url;
    background-size: cover;
  }

  #quote-slider {
    .owl-dots {
      margin-top: 2em;

      .owl-dot {
        span {
          background-color: white;
          opacity: 0.4;

          &:hover {
            opacity: 0.7;
          }
        }

        &:active span {
          opacity: 1;
        }
      }
    }
  }

  blockquote {
    @include media($medium-screen-down) {
      @include pad(0 10px);
      font-size: 1.6em;
    }

    @include media($small-screen-down) {
      font-size: 1.3em;
    }

    border: 0;
    color: white;
    cursor: move;
    font-size: 2em;
    font-style: normal;
    margin: 0;
    padding-left: 0;
    text-align: center;

    cite {
      @include media($medium-screen-down) {
        font-size: .7em;
      }

      color: white;
      display: block;
      font-size: .6em;
      padding-top: 1.5em;

      a {
        color: darken($highlight, 20%);

        &:hover {
          color: darken($highlight, 30%);
        }
      }
    }
  }
}

section.blog {
  background: darken(white, 5%);
  text-align: center;

  #blog-teasers {

    .blog-item {
      cursor: move;
      margin-bottom: 1em;
      padding: 0 1em;

      &:hover {
        a.featured-image {
          background: $highlight;
        }

        .blog-teaser {
          background: darken(white, 1%);
        }

        img {
          opacity: 0.8;
        }

        .flexslider img {
          opacity: 1;
        }
      }

      a.featured-image {
        display: block;

        img {
          margin: 0;
          transition: all 0.5s;
          -webkit-backface-visibility: hidden;
        }
      }

      .blog-teaser {
        background: white;
        border-top: 0;
        margin: 0;
        padding: 1.5em;
        transition: all 0.2s;

        h4.post-title a {
          color: lighten(black, 40%);
        }

        .meta {
          color: darken(white, 30%);
          font-size: .9em;
          padding-bottom: .6em;
        }

        &.audio {
          margin-top: -7px;
        }
      }

      h4 {
        font-size: 1.3em;
        padding-bottom: .5em;
        text-transform: uppercase;
      }

      p {
        color: darken(white, 50%);
      }

      i {
        color: darken(white, 50%);
        font-size: 4em;
        margin-bottom: .3em;
        transition: color .2s;

        &:hover {
          color: $highlight;
        }
      }
    }
  }

  a.button {
    background-color: $go-green;
    color: white;
    margin: 1em auto;
    padding: 1em 2em;
    text-align: center;
    text-transform: uppercase;
  }
}
